<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
 
<hibernate-configuration>
    <session-factory>
    	<!-- Database Connection settings -->
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/jcurrency</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">emar1</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hibernate.jdbc.batch_size">50</property>
        <!-- <property name="hibernate.implicit_naming_strategy">legacy-hbm</property> -->
        <!-- <property name="hibernate.cache.use_second_level_cache">true</property>
        <property name="hibernate.cache.region.factory_class">org.hibernate.cache.ehcache.EhCacheRegionFactory</property> -->
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>
        <property name="hbm2ddl.auto">create</property>
        <!--<mapping resource="country.hbm.xml"/>-->
        <mapping class="com.example.jcurrencyapp.model.db.Country"/>
        <mapping class="com.example.jcurrencyapp.model.db.Currency"/>
        <mapping class="com.example.jcurrencyapp.model.db.Quotation"/>
        <!-- <property name="hibernate.archive.autodetection">class, hbm</property> -->
    </session-factory>
</hibernate-configuration>